.App {
  text-align: center;
}

/* Home */
.aboutSection {
  
}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #E9ECEF;
  border-radius: 15px;
}

.about img {
  width: 30vw;
  max-height: 60vh;
  border-radius: 15px;
}

.services {
  margin-bottom: 2rem;
  
}

.services h5, .services p {
  display: flex;
  justify-content: center;
  color: black;
  
}

.services:hover {
  cursor: pointer;
  text-decoration: none;
}

.services p {
  padding: 2rem;
}


.contactSection {
  background-image: url('contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactSection a {
  color: black
}


/* Services */
.equineMassage, .redLight, .canineTherapy {
  margin: 5rem auto;
}

.equineMassage h3, .redLight h3, .canineTherapy h3 {
  margin-top: 2rem ; 
}

.section a {
  color: white
}

/* Contact */ 
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
}